.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: fixed;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(3px);
  position: fixed;
  width: 100%;
  height: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #21092f;
  color: #fff;
  padding: 55px 45px;
  border-radius: 10px;
  text-align: center;
  z-index: 11;
}
@media (max-width: 560px) {
  .card {
    max-width: 90%;
  }
}

.title {
  margin-bottom: 20px;
  font-size: 35px;
}
.paragraph {
  margin-top: 10px;
}
.span {
  font-weight: 700;
}
